<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h1>All Articles Page:-</h1>
    <hr />

    <div style="background: orange;color: black;padding: 20px">
       <% for( let art of allArticles) { %>
           <h1 style="background: blue"><%= art.title %></h1> 

           <h5><%= art.body %></h5>
            <br>
       <% } 
       %>
    </div>
</body>
</html>